:root{
    --light-blue:#80DEEA ;
    --white:#ffffff;
    --noir:#010101;
    --gray:#f4f3f8;  
    --primary-blue:#ececec;     
    --gray-light : #cee7ea;
    --blue:#5adaea;
}


*{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;
}


header,.nav,.name{
    display: flex;
    justify-content:space-between;
    background-color:var(--noir);
    color:var(--white);
}

header{
    padding: 20px;
}

.nav>a, .name{
    margin-left:20px;
    margin-right:20px;
}

.nav a {    
     color:var(--white);
    text-decoration: none;
}

.nav a:hover{
    color:var(--light-blue);
}




.projet{
    display:flex;
    justify-content:space-between;
    height:40%;
    margin:20px;
}

.projet>.present{
    text-align:center;
    margin:50px;
    font-size:20px;
}

.present p {
    font-size: 2.5rem;
}

.projet> .imgProj > img{
    width: 300px;
    height:auto;
    padding: 10px;
    border-radius: 30px;
}


.projet > .present > button{
    background-color:var(--light-blue);
    color:var(--white);
    border-radius:5px;
    padding:10px;
    margin:10px;
    font-size:18px;
    cursor: pointer;
}

button.buttonProjet:hover {
    background-color: var(--noir);
}

.section2{
    background-color:var(--gray);
}
.section2 > h2{
    text-align:center;
    margin: 30px;
    color:var(--light-blue);
    font-size:28px;
    padding: 20px;
}

.sect-2{
    display:flex;
    justify-content:space-between;
    margin:20px;
    padding:20px;
}

.nom {
    color: var(--light-blue);
    font-weight: bold;
    margin-left: 5px;
}

.flip{
    /* position: relative; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* perspective: 1000px; */
    width: 300px;
    height: 300px;
}

.flipper.flipped .flip{
    transform: rotateY(180deg);
}

.image, .back{
    position: absolute;
    backface-visibility: hidden;
    width:300px;
    height:300px;
}

.image{
    z-index: 2;
}

.image img{
    width: 300px;
    height: 300px;
    border-radius:2500px;
    object-fit: cover;
}

.back{
    background-color: var(--blue);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 2500px;
}

.message {
    margin: 5px;
}


.cv {
    margin-top: 25px;
}


.sect-2 > .cv > p{
    margin-bottom:20px;
}

.sect-2> .cv > button {
    padding:10px;
    justify-content:center;
    background-color:var(--light-blue);
    color:var(--white);
    font-size:18px;
    border-radius:5px;
}

.section3{
    padding:50px;
}
.section3 > h2{
    text-align:center;
    font-size:28px;
    color:var(--light-blue);
    margin-bottom:30px;
}

.section3 > .sect-3{
    display:flex;
    justify-content:space-between;
}

.section3 > .sect-3 > .pr{
    text-align:center;
    background-color:var(--primary-blue);
    margin:10px;
    padding:30px 30px 0px  30px;
    border-radius: 10px;
    width: 300px;
}

.section3 > .sect-3 > .pr >p{
    margin-bottom:10px;
} 

.section3 > .sect-3 > .pr > button{
    font-size:18px;
    padding:10px;
    border-radius:10px;
    margin:10px;
    background-color:var(--light-blue);
    color:var(--white);
}

.section4{
    background-color: var(--gray);
    padding: 20px;
    width: 100%;
}
.section4 h2{
    text-align:center;
    font-size:28px;
    color:var(--noir);
    font-weight:bold;
    margin: 30px;
}

.section4  .sect-4 {
    display:flex;
    justify-content:space-between;
    margin-bottom: 40px;
}

.section4 .sect-4  h3{
    text-align:center;
    font-size:18px;
    margin-bottom:20px;
    color:var(--noir);

}

.section4 .sect-4 .soft, .hard{
    flex:1;
    max-width: 300px;
    background-color:var(--white);
    padding: 35px;
    margin: 58px;
    border-radius: 24px;
}

.section4 .sect-4 .soft p:nth-child(2) , .hard p:nth-child(2) { 
    padding:5px;
    margin-bottom:15px;
    border-radius:15px;
    box-shadow : 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.section4 .sect-4 .soft .soft1 p:nth-child(2){
    background: linear-gradient(90deg , var(--light-blue) 90%, var(--gray) 10%);
}

.section4 .sect-4 .soft .soft2 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 80%, var(--gray) 20%);
}

.section4 .sect-4 .soft .soft3 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 80%, var(--gray) 20%);
}

.section4 .sect-4 .soft .soft4 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 70%, var(--gray)30%);
}

.section4 .sect-4 .hard .hard1 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 60%, var(--gray) 40%);
}

.section4 .sect-4 .hard .hard2 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 100%, var(--gray) 0%);
}

.section4 .sect-4 .hard .hard3 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 60%, var(--gray) 40%);
}

.section4 .sect-4 .hard .hard4 p:nth-child(2){
    background:linear-gradient(90deg , var(--light-blue) 40%, var(--gray) 60%);
}

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color:var(--noir);
    color:var(--white);
}

.section5 .text{
    text-align:center;
    padding:40px 30px;
}

.section5 h2{
    font-size:2.2rem;
    margin-bottom:15px;
    font-weight:600;
}

.section5 h3{
    font-size:1.rem;
    max-width:600px;
    margin:0 auto;
}


.section5 .formulaire .npr {
    display:flex;
    gap: 36px;
    margin-bottom: 20px;
}

.formulaire label{
    display:block;
    font-weight:500;
    margin-bottom:0.5rem;
    text-align: left;
} 

.formin {
    width:100%;
    padding: 10px 14px;
    border-radius: 7px;
    font-size:1rem;
    transition: all 0.3s ease;
    border: 2px solid var(--light-blue);
}

input#mail {
    margin-bottom: 20px;
}

textarea.formin {
    min-height:150px;
    resize:vertical;
}


form.formulaire {
    text-align: center;
}

button{
    padding: 11px 33px;
    text-align: center;
    background-color: var(--light-blue);
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    margin:10px;
}

button:hover{
    background-color: var(--noir);
}
footer.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    font-style: italic;
}

